.sidepanel{
    position: fixed;
    top: 180px;
    display: flex;
    left: 25px;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__divider{
        width: 2px;
        height: 70px;
        background-color: black;
    }
    &__link{
        transform: rotate(-90deg);
    }
   
    &__text{
        margin-top: 30px;
        span{
            display: block;
        transform: rotate(-90deg);
        translate: (-30%,-260%);

        width: 150px;
        }
    }
}