@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  margin-left: 100px;
  min-height: 700px;
}

.container_ley {
  width: 1140px;
  min-height: 900px;
  margin: 0 auto;
  margin-left: 100px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}
.title__fz14 {
  font-size: 14px;
  line-height: 21px;
}
.title__fz16 {
  font-size: 16px;
  line-height: 24px;
}
.title__fz48 {
  font-size: 48px;
}
.title__fz36 {
  font-size: 36px;
}
.title_tea {
  position: relative;
  font-size: 23px;
  left: 20%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title_fz36 {
    font-size: 30px;
  }
  .about__wrapper {
    grid-template-columns: 300px 380px;
  }
  .about__skills {
    grid-template-columns: 380px;
    grid-auto-rows: minmax(115px, auto);
  }
  .about__skills-item {
    grid-template-columns: 40px 320px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.sidepanel {
  position: fixed;
  top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 25px;
  height: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: black;
}
.sidepanel__link {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.sidepanel__text {
  margin-top: 30px;
}
.sidepanel__text span {
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  translate: -30%, -260%;
  width: 150px;
}

.start {
  min-height: 75vh;
  position: relative;
  padding-top: 150px;
  padding-left: 150px;
  background: url("../../src/img/bad.jpg") no-repeat 50%/cover;
}
.start__title {
  width: 535px;
  margin-top: 10px;
}
.start__sub {
  position: relative;
  padding-left: 10px;
  z-index: 2;
}
.start__sub:before {
  position: absolute;
  content: " ";
  width: 36px;
  top: -6px;
  left: -4px;
  z-index: -1;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 38, 255);
}
.start__btns {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  text-decoration: none;
}
.start__btns a {
  text-decoration: none;
}
.start__link {
  color: black;
  font-weight: bold;
}
.start__link:hover {
  color: aliceblue;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.btn {
  height: 23px;
  background: #043aec;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 25px;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

.second {
  position: relative;
  width: 1170px;
  min-height: 700px;
  margin-top: 80px;
}

.leave {
  position: relative;
  padding-left: 300px;
  width: 500px;
  height: 350px;
}
.leave img {
  display: block;
  width: 400px;
  height: 600px;
}

.side {
  min-width: 1000px;
  min-height: 800px;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(870px);
          transform: translateX(870px);
}
.side_about {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(1, 5, 12);
}
.side_about:before {
  position: absolute;
  content: " ";
  width: 68px;
  top: -5px;
  left: -4px;
  z-index: -1;
  height: 34px;
  border-radius: 50%;
  background: #00b1fd;
}
.side_intrested {
  margin-left: -15px;
  width: 445px;
  height: 60px;
  font-weight: 700;
  font-size: 27px;
  line-height: 60px;
}
.side_devider {
  margin-left: -14px;
  width: 65px;
  border: 2px solid rgb(0, 217, 255);
  margin-bottom: 20px;
}
.side_text {
  min-width: 500px;
  min-height: 120px;
  margin-left: -14px;
  margin-bottom: 40px;
}
.side_wrapper {
  min-width: 330px;
}

.terms {
  position: relative;
}
.terms_term {
  font-weight: 800;
  font-size: 16px;
}
.terms_term:before {
  content: " ";
  position: absolute;
  content: " ";
  width: 36px;
  top: -6px;
  left: -13px;
  z-index: -1;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 177, 253);
}
.terms_descr {
  padding-top: 6px;
}
.terms_secon {
  font-weight: 800;
  font-size: 16px;
  margin-left: 370px;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
}
.terms_secon:before {
  content: " ";
  position: absolute;
  content: " ";
  width: 36px;
  top: -6px;
  left: -13px;
  z-index: -1;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 174, 255);
}

.divider__tea {
  position: relative;
  width: 130px;
  height: 3px;
  background-color: aqua;
  margin: 12px auto 0 auto;
  -webkit-transform: translateX(170%);
          transform: translateX(170%);
}

.catalog {
  position: relative;
  min-height: 650px;
}
.catalog__content {
  margin-top: 60px;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  overflow: hidden;
  width: 200px;
  height: 420px;
  border: 2px solid rgb(155, 171, 243);
  padding: 30px 20px 26px 20px;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  max-width: 190%;
  margin: 0 auto;
  height: 260px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 16px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 22px;
  width: 130px;
  height: 27px;
  background-color: rgb(0, 38, 255);
  border: 1px solid rgb(237, 239, 241);
  text-align: center;
  font-weight: bold;
  -webkit-transform: translateX(34px);
          transform: translateX(34px);
  text-decoration: none;
  color: rgb(237, 237, 241);
}
.catalog-item__link:hover {
  color: rgb(184, 218, 228);
}
.catalog-item__hr {
  border: 1px dashed rgb(121, 121, 219);
  margin-top: 36px;
  margin-bottom: 21px;
}
.catalog-item__footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(83, 124, 236);
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translate(-114%);
          transform: translate(-114%);
  -webkit-transition: 1.4s all;
  transition: 1.4s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: -40px;
  -webkit-transition: 1.4s all;
  transition: 1.4s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translate(-105%);
          transform: translate(-105%);
  margin-left: 0px;
}
.catalog-item__back {
  position: absolute;
  top: 89%;
  left: 53%;
  -webkit-transform: translateX(-68%);
          transform: translateX(-68%);
  display: block;
  color: rgb(38, 35, 231);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog .catalog__every {
  margin-top: 30px;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog .catalog__every_sec {
  margin-right: 54px;
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
}

#zelenin {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
  color: rgb(13, 26, 61);
}
#zelenin:before {
  content: " ";
  position: absolute;
  height: 5px;
  width: 5px;
  left: 11.8px;
  top: 8.5px;
  background-color: black;
}

.resume {
  padding-left: 240px;
  height: 800px;
}
.resume__title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}
.resume__title:before {
  content: " ";
  position: absolute;
  content: " ";
  width: 36px;
  top: -7px;
  left: 48.2%;
  z-index: -1;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 177, 253);
}
.resume__title-third {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 35px;
  padding-top: 40px;
}
.resume__title-third:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(7, 139, 247);
  border-radius: 50%;
  left: 0;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  cursor: pointer;
}
.resume__subtitle {
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 28px;
}
.resume__divider {
  width: 100px;
  height: 3px;
  background-color: rgb(0, 177, 253);
  margin: 8px auto 0 auto;
}
.resume__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 425px);
  padding: 40px 65px 0 65px;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.resume__ul {
  list-style-type: none;
}
.resume__ul li {
  position: relative;
}
.resume__ul li:after {
  content: " ";
  position: absolute;
  top: -9px;
  width: 1px;
  height: calc(100% + 9px);
  left: 7px;
  background-color: black;
}
.resume__item {
  position: relative;
}
.resume__item:before {
  content: " ";
  position: absolute;
  height: 1px;
  left: 8px;
  top: 64px;
  width: 38px;
  background-color: black;
}
.resume__item-head {
  position: relative;
  padding-left: 100px;
  padding-top: 45px;
}
.resume__item-icon {
  position: absolute;
  top: 46px;
  left: 45px;
}
.resume__item-icon:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(193, 230, 230);
}
.resume__item-icon img {
  position: absolute;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  padding-left: 3px;
}
.resume__item-location {
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  font-weight: bold;
}
.resume__item-body {
  margin-top: 12px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 200;
}

.contacts {
  position: relative;
  height: 680px;
  margin-left: 220px;
  margin-top: 80px;
  top: 0;
  left: 0;
  width: 70%;
}
.contacts__wrapper {
  padding: 0 35px 0 8px;
  display: grid;
  grid-template-columns: 424px 585px;
  -webkit-column-gap: 155px;
     -moz-column-gap: 155px;
          column-gap: 155px;
}
.contacts__photo img {
  width: 110%;
}
.contacts__descr {
  padding-top: 6px;
  font-weight: bold;
}
.contacts__descr .divider {
  margin: 0;
}
.contacts__divider {
  margin-left: 0px;
  width: 65px;
  border: 2px solid rgb(0, 217, 255);
  margin-bottom: 20px;
}
.contacts__title {
  position: relative;
  font-size: 18px;
  padding: 1px 0 20px 12px;
}
.contacts__title:before {
  content: " ";
  position: absolute;
  content: " ";
  width: 36px;
  top: -4px;
  left: 0.29%;
  z-index: -1;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 177, 253);
}
.contacts__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
}
.contacts__text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 15.7px;
  line-height: 21px;
  margin-bottom: 10px;
}
.contacts__phone a {
  color: rgb(36, 33, 211);
  text-decoration: none;
}
.contacts__form {
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.contacts__form label {
  display: block;
  position: absolute;
  height: 18px;
  padding: 0 8px;
  top: -11px;
  left: 12px;
  font-weight: bold;
  background-color: white;
  font-size: 14px;
}
.contacts__input {
  position: relative;
}
.contacts__input input {
  width: 90%;
  height: 100%;
  padding: 0 20px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.contacts__textarea {
  position: relative;
  grid-column: 1/3;
}
.contacts__textarea textarea {
  width: 96%;
  height: 100%;
  resize: none;
  font-size: 15px;
  padding: 15px 20px;
  line-height: 18px;
  font-weight: 700;
}
.contacts__btn {
  display: block;
  border: none;
  width: 219px;
  height: 45px;
  background-color: rgb(73, 71, 231);
  margin-top: 30px;
  cursor: pointer;
}
.contacts__btn:hover {
  background-color: rgb(28, 28, 134);
}
.contacts__btn span {
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title_fz48 {
    font-size: 28px;
  }
  .promo__title {
    line-height: 39px;
    width: 300px;
  }
  .about {
    padding-top: 40px;
  }
  .about__wrapper {
    grid-template: 400px auto auto/1fr;
  }
  .about__photo {
    grid-row: unset;
  }
  .about__skills {
    grid-template-columns: repeat(2, 260px);
  }
  .about__skills-item {
    grid-template-columns: 40px 200px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title_fz48 {
    font-size: 26px;
  }
  .title_fz36 {
    font-size: 24px;
  }
  .hamburger {
    right: 20px;
  }
  .menu__block {
    width: 250px;
    padding-left: 20px;
  }
  .promo {
    background: url("../img/main_bg.jpg") no-repeat 57%/cover;
  }
  .promo__btns {
    margin-top: 30px;
  }
  .about__wrapper {
    grid-template: 340px auto auto/1fr;
  }
  .about__skills {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */